.btn-dark-blue,
.btn-dark-blue:visited {
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
  border: 1px solid #32465a;
}

.btn-dark-blue:hover,
.btn-dark-blue:active,
.btn-dark-blue:focus {
  cursor: pointer;
  background: #435f7a;
  color: #f5f5f5;
}

.btn-dark-blue-inverse,
.btn-dark-blue-inverse:visited {
  cursor: pointer;
  background: #435f7a;
  color: #f5f5f5;
  border: 1px solid #32465a;
}

.btn-dark-blue-inverse:hover,
.btn-dark-blue-inverse:active,
.btn-dark-blue-inverse:focus {
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}

.table-container {
  background-color: #e3e3e3;
  text-align: center;
}

.table-header {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #32465a;
}

.table-trades {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  max-height: calc(100% - 69px);
}

.table-trades .table-trade {
  padding: 15px;
  background: #32465a;
  border-left: 5px solid #435f7a;
  margin-bottom: 15px;
}

.table-trades .table-trade td {
  color: #2ecc71;
  padding-right: 15px;
}



.chat-container {
  height: 100%;
  background: #f5f5f5;
  color: #32465a;
  position: relative;

}

.chat-container .chat-header {
  z-index: 4;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 69px;
}

.chat-container .chat-body {
  z-index: 1;
  height: calc(100% - 69px - 68px);
  background-color: #e6eaea;
  margin-left: -15px;
  margin-right: -15px;
  overflow-y: scroll;
}

.chat-container .chat-body .chat-msg {
  background: #435f7a;
  color: #f5f5f5;
  max-width: 800px;
  width: 100%;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}

.chat-container .chat-body .chat-msg:last-child {
  margin-bottom: 15px;
}

.chat-container .chat-body .chat-msg.chat-msg-other {
  background: #f5f5f5;
  color: #32465a;
  float: right;
}

.chat-container .chat-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 4;
  min-height: 50px;
}

.chat-container .chat-footer input {
  flex-grow: 1;
}
.chat-container .chat-footer .btn {
  display: flex;
}

.chat-video-container {
  position: fixed;
  z-index: 300;
  left: 0px;
  bottom: 0px;
  height: 50%;
  width: 33.333333%;
  overflow: overlay;
}

.chat-video-container .chat-video {
  width: 100%;
  height: 50%;
}

.col-4 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
  width: 50% !important;
}

.col-8 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
  width: 50% !important;
}

.ranking-table  {
  border: 1px solid #cecece;
  color: white;

}



td {
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
  border: solid 2px;
  margin: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 7px 2px 7px 2px;
}

td:hover {
  color: #32465a;
  background-color: #d6d6d6;
}

.mystyle {
  width: 70%;
  margin-top: 20px;
  border: 1px solid rgb(187, 181, 181);
}





td {
  border: none;
  color: #8d8a8a;
}
td:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}


tr:nth-child(n+2) > td:nth-child(1){
background-color: #004682;
color: #f1f1f1;
}

tr:nth-child(n+5) > td:nth-child(1){
  background-color: #cbd6db;
  color: #617d97;
}

tr:nth-child(n+9) > td:nth-child(1){
  background-color: #CB5233;
  color: #f1f1f1;
}


tr:nth-child(1) {
  background-color: #b8bcc7;

  border: none;
}

tr {
  border: 1px solid rgb(187, 181, 181);
}


